@model List<DGHCM.ViewModel.SalaryVM>
@{
    ViewBag.Title = "EmpSalaryIndex";
}

<style>
  /*  .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 18px;
    }*/
   

        .btn-close delete {
            color: #444;
            cursor: pointer;
            left: 89%;
            height: 2px;
            width: 3px;
            right: 16px;
            top: 25px;
            position: absolute;
            padding: 10px !important;
            transition: 250ms ease;
        }
            .btn-close delete:before, .btn-close delete:after {
                height: 2px;
                background: #444;
                width: 100%;
                top: 50%;
                left: 5%;
                position: absolute;
                transition: 250ms ease;
            }

            .btn-close delete:before {
                transform: rotate(-45deg);
            }

            .btn-close delete:after {
                transform: rotate(45deg);
            }

            .btn-close delete:hover, .btn-close delete:focus {
                border: 2px solid !important;
                border-radius: 100%;
            }

                .btn-close delete:hover:before, .btn-close delete:focus:before, .btn-close delete:hover:after, .btn-close delete:focus:after {
                    width: 50%;
                    left: 25%;
                }
    
</style>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header  text-black d-flex flex-wrap justify-content-between align-items-center">

                <div class="card-title text-black mb-0 p-0">Salary Details</div>
                <div>

                    <button type="button" class="btn btn-transparent" id="btn-AddSalary"><i class="fa-solid fa-sack-dollar fa-lg"></i>&nbsp;Add Salary</button>

                </div>
            </div>
            <div class="card-body ">
                <form class="main" name="Display" id="file">
                    <table class="table table-bordered table-striped table-hover mt-2" id="salarytable">
                        <thead class="bg-secondary-light">
                            <tr align="center">
                                <th scope="col">S.No</th>
                                <th scope="col">Employee Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Salary Type</th>
                                <th scope="col">Status</th>
                                <th colspan=2>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="table_data"></tbody>
                    </table>

                </form>
            </div>

        </div>
    </div>
    <div class="madal fade modal" id="SalaryModal" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="modalTitle">Add Salary</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="form">
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="inputGroupSelect01">Employee Name</span>
                            @Html.DropDownList("EmployeeList", null, "--select--", htmlAttributes: new { @id = "EmployeeId", @class = "form-control form-select selectpicker" })
                            <input type="hidden" id="salaryId" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="inputGroupSelect02">Salary Type</span>
                            @Html.DropDownList("SalaryType", null, "--select--", htmlAttributes: new { @id = "SalaryTypeId", @class = "form-control form-select selectpicker" })
                        </div>
                        <div class="input-group mb-3">

                            <span class="input-group-text">Amount</span>
                            <span class="input-group-text">₹</span>
                            <input type="text" class="form-control" id="Amount" aria-label="Dollar amount (with dot and two decimal places)" />
                            <span class="input-group-text">.00</span>
                            <input hidden id="hdnSalaryId" name="hdnsalaryId" />
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" id="IsActive" name="IsActive" aria-label="Checkbox for following text input">
                            </div>
                            <span class="input-group-text">IsActive</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal" onclick="HideModal();">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="AddSalary();" id="AdSalary">Save</a>
                    <a href="#" class="btn btn-success" onclick="UpdateSalary();" id="EditSalary" type="submit">Update</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="myModal1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-between align-items-center">

                    <h5 class="modal-title">Delete Salary</h5>
                    <button type="button" class="btn-close delete" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h4>Are you sure? </h4>
                    <p>You want to delete this.</p>
                    <div style="text-align:center;display:none" id="loaderDiv" ;></div>
                </div>
                <div class="modal-footer">

                    <a href="#" class="btn btn-danger" data-dismiss="modal" onclick="HideModal();">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteSalary()">Confirm</a>
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenSalaryId" value="@Url.Action("SalaryList", "EmployeeController")" />
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        /*Read data*/
        $(document).ready(function () {
            ShowSalaryData();
        });

        /*Delete Data*/
        var ConfirmDelete = function (SalaryId) {
            $("#hiddenSalaryId").val(SalaryId);
            $("#myModal1").modal("show");
        }
        function DeleteSalary() {
            $("#loaderDiv").show();
            var salId = $("#hiddenSalaryId").val();
            $.ajax({
                type: "POST",
                data: JSON.stringify({ SalaryId: salId }),
                url: "EmpSalaryDelete",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#loaderDiv").hide();
                    $("#myModal1").modal("hide");
                    $("#row_" + salId).remove();
                    window.location.reload();
                    toastr.success(result.message, 'Delete Alert', { timeOut: 3000 });      
                    
                }
            })
        }

        /*Read data*/
        function ShowSalaryData() {
            var url = $('#hiddenSalaryId').val();
            $.ajax({
                url: 'SalaryList',
                type: 'Get',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    if (result.length == 0) {
                        var object = "";
                        object += '<tr>';
                        object += '<td colspan="6">' + 'Salary not available' + '</td>';
                        object += '</tr>';
                        $('#table_data').html(object);
                    } else {
                        var object = "";
                        for (var i = 0; i < result.length; i++) {
                            object += '<tr>';
                            object += '<td>' + [i + 1] + '</td>';
                            object += '<td class="text-start">' + result[i].EmployeeName + '</td>';
                            object += '<td class="text-end">' + result[i].Amount + '</td>';
                            object += '<td class="text-start">' + result[i].SalaryTypeName + '</td>';
                            object += '<td>';
                            if (result[i].IsActive) {
                                object += '<span class="badge rounded-pill bg-success">Active</span>';
                            } else {
                                object += '<span class="badge rounded-pill bg-danger">Inactive</span>';
                            }
                            object += '</td>';
                            object += '<td><input type="hidden" id="salaryId_' + result[i].SalaryId + '"> <a href="#" onclick="EditSalary(' + result[i].SalaryId + ')"><i class="fa fa-edit"></i></a>&nbsp;<a href="#" onclick="ConfirmDelete(' + result[i].SalaryId + ')"><i class="fa fa-trash text-danger"></i></a></td>';
                            object += '</tr>';
                        }
                        $('#table_data').html(object);
                    }
                },
                error: function () {
                    toastr.info(data.message, 'Data cant be saved', { timeOut: 3000 });
                }
            });
        }

        $('#btn-AddSalary').click(function () {
            $('#SalaryModal').modal('show');
            $('#modalTitle').text('Add Salary');
            $('#AdSalary').css('display', 'block');
            $('#EditSalary').css('display', 'none');

        });

        /*Insert data*/
        function AddSalary() {
            var result = validate();
            if (result == false) {
                return false;
            }

            var objData = new Object();
            objData.EmployeeId = $('#EmployeeId').val(),
                objData.SalaryTypeId = $('#SalaryTypeId').val(),
                objData.Amount = $('#Amount').val(),
                objData.IsActive = $('#IsActive').prop('checked'),
                objData.SalaryId = $("#hdnSalaryId").val();

            $.ajax({
                url: 'AddSalary',
                type: 'Post',
                data: JSON.stringify(objData),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data == null || data == undefined || data.length == 0) {
                        toastr.info(data.message, 'Information Alert', { timeOut: 3000 });
                    }
                    else {
                        HideModal();
                        ShowSalaryData();
                        toastr.success(data.message, 'Success Alert', { timeOut: 3000 });
                        $('#SalaryModal').modal('hide');
                        // Refresh the table after saving data
                    }
                },
                error: function () {
                    toastr.info(data.message, "Data can't be saved", { timeOut: 3000 });
                }
            });
        }
        function HideModal() {
            ClearData();
            $('#SalaryModal').modal('hide');
            $('#myModal1').modal('hide');
        }
        function ClearData() {
            $('#EmployeeId').val('');
            $('#SalaryTypeId').val('');
            $('#Amount').val('');
            $('#IsActive').prop('checked', false);

            $('#EmployeeId').css('border-color', 'lightgrey');
            $('#SalaryTypeId').css('border-color', 'lightgrey');
            $('#Amount').css('border-color', 'lightgrey');
            $('#IsActive').css('border-color', 'lightgrey');

        }
        function validate() {
            var isvalid = true;
            if ($('#EmployeeId').val().trim() == "") {
                $('#EmployeeId').css('border-color', 'Red');
                isvalid = false;
            }
            else {
                $('#EmployeeId').css('border-color', 'lightgrey');
            }
            if ($('#SalaryTypeId').val().trim() == "") {
                $('#SalaryTypeId').css('border-color', 'Red');
                isvalid = false;
            }
            else {
                $('#SalaryTypeId').css('border-color', 'lightgrey');
            }
            if ($('#Amount').val().trim() == "") {
                $('#Amount').css('border-color', 'Red');
                isvalid = false;
            }
            else {
                $('#Amount').css('border-color', 'lightgrey');
            }
            return isvalid;
        }
        $('#EmployeeId').change(function () {
            validate();
        })
        $('#SalaryTypeId').change(function () {
            validate();
        })
        $('#Amount').change(function () {
            validate();
        })
        /*Edit*/
        function EditSalary(id) {
            var salaryId = id;
            $.ajax({
                url: 'EditSalary',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: { id: salaryId },
                success: function (response) {
                    if (response == null || response == undefined) {
                        toastr.info(result.message, 'Unable to read the data', { timeOut: 3000 });
                    } else {
                        $('#SalaryModal').modal('show');
                        $('#modalTitle').text('Update Salary');
                        /* $('#AddSalary').css('display', 'none');*/
                        $('#AdSalary').css('display', 'none');
                        $('#EditSalary').css('display', 'block');
                        $('#EmployeeId').val(response.EmployeeId);
                        $('#SalaryTypeId').val(response.SalaryTypeId);
                        $('#Amount').val(response.Amount);
                        /* objData.IsActive = $('#IsActive').prop('checked'),*/
                        if (response.IsActive) {
                            $('#IsActive').prop('checked', true);
                        } else {
                            $('#IsActive').prop('checked', false);
                        }
                        $("#hdnSalaryId").val(response.SalaryId);
                        $('#EmployeeId').val(response.EmployeeId);
                        var salaryId = $('#salaryId_' + id).val();
                        console.log("Salary ID:", salaryId);
                    }
                },
                error: function () {
                    toastr.info(result.message, 'Unable to read the data', { timeOut: 3000 });
                }
            });
        }



        /*Update data*/
        function UpdateSalary() {
            var result = validate();
            if (result == false) {
                return false;
            }
            var getdata = $("#hdnSalaryId").val();
            var objDatas = new Object();
            objDatas.EmployeeId = $('#EmployeeId').val(),
                objDatas.SalaryTypeId = $('#SalaryTypeId').val(),
                objDatas.Amount = $('#Amount').val(),
                objDatas.IsActive = $('#IsActive').prop('checked'),
                objDatas.SalaryId = $("#hdnSalaryId").val()

            $.ajax({
                url: 'UpdateSalary',
                type: 'Post',
                data: JSON.stringify(objDatas),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    var a = response;
                    toastr.success(response.message, 'Updated Alert', { timeOut: 3000 });
                    $('#SalaryModal').modal('hide');
                    ShowSalaryData(); // Refresh the table after saving data
                },
                error: function () {
                    toastr.info(result.message, "Data can't be saved", { timeOut: 3000 });
                }
            });
        }

    </script>
